body {
    background-color: rgb(55, 58, 61);
}

#table{
    display: flex;
    justify-content: center; 
}

#buttons{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.block {
    background-color: red;
    height: 60px;
    width: 60px;
    border: rgb(167, 166, 166) 3px solid;
}

td:hover{
    cursor: pointer;
}